# Remote Kafka
SOURCE_BOOTSTRAP_SERVERS=46.202.167.130:9094,46.202.167.130:9194,46.202.167.130:9294
SOURCE_SECURITY_PROTOCOL=SASL_PLAINTEXT
SOURCE_SASL_MECHANISM=PLAIN
SOURCE_USERNAME=kafka
SOURCE_PASSWORD=YOUR_PASSWORD
SOURCE_TOPIC=product_view

# Local Kafka
LOCAL_BOOTSTRAP_SERVERS=localhost:9092
LOCAL_TOPIC=product_view_local

# MongoDB
MONGO_URI=mongodb://admin:admin123@localhost:27017/?authSource=admin
MONGO_DB=kafka_project
MONGO_COLLECTION=product_view
